<div class="container-fluid" style="height : 100vh">
    <div class="container ">

        <br>
        

        <table class="table  bg-dark text-white">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoria</th>
                <th>-</th>
                <th>-</th>
            </tr>
            {{#each productos}}
            <tr>
                <td>{{id}}</td>
                <td>{{nombre}}</td>
                <td>{{descripcion}}</td>
                <td>{{precio}}</td>
                <td>{{stock}}</td>
                <td>{{nombreCategoria}}</td>
                <td><a href="/admin/productos/update/{{id}}" class="btn btn-info"><i class="fas fa-edit"></i>
                        Editar</a></td>
                <td><a href="/admin/productos/delete/{{id}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i>
                        Eliminar</a></td>
            </tr>
            {{/each}}
        </table>
        <div class="d-flex justify-content-around">
            <a href="/admin/productos/create" class="btn btn-warning mt-4 mb-4">Agregar Productos</a>
            </div>

    </div>
</div>