<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height : 85vh">
        <div class="col-7 bg-dark text-white">
            <form method="post" action="/admin/productos/update/{{producto.id}}">
                <div class="mb-3">
                    <label for="nombre">Nombre del producto</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" value="{{producto.nombre}}">
                </div>
                <div class="mb-3">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="descripcion"
                        value="{{producto.descripcion}}">
                </div>
                <div class="mb-3">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="precio" value="{{producto.precio}}">
                </div>
                <div class="mb-3">
                    <label for="stock">Stock</label>
                    <input type="number" class="form-control" name="stock" id="stock" value="{{producto.stock}}">
                </div>
                <div "mb-3">
                <label for="id_categoria">Categoria</label>
                <select name="id_categoria" id="id_categoria" class="form-select">

                </div>
                   
                    {{#each categorias}}
                    <option value="{{id}}">{{nombre}}</option>
                    {{/each}}
                </select> 
                <br>
                <div class="d-flex justify-content-around">
  <button type="submit" class="btn btn-success">Modificar</button>
  </div> 
                </form>
                </div>
 
        </div>
